.mail {
    margin-left: 20px !important;
}

.featurette-heading {
    font-family: 'Poppins';
}

.lead {
    font-family: 'Poppins';
}



.lead-2 {
    color: var(--Yellow, #E5B300);
    font-family: 'Poppins';
    font-size: 10px;
}