.yellow{
    color: hsl(47, 100%, 45%);
    font-size: 12px;
    font-family:  'Poppins';
}
.btn-button-color{
    border: 1px solid #E5B300;
    background: #ffffff !important;
    color: hsl(47, 100%, 45%) !important;
    font-family:  'Poppins';

 }
 .heading-title{
    font-family:  'Poppins';
 }
 .font{
    font-family:  'Poppins';
    font-size: 20px !important;
    letter-spacing: 0.5px;

 }






/* .errow{
    color: #E5B300;
} */