.form-control{
    padding: 10px;
}
.footer{
    background: #36384E !important;
}
.logos{
    justify-items: space-between !important;
}
.colorr{
    color: #efeaea;
    font-family:  'Poppins';
    font-size: 18px;
}
.nav-link{
    color: #efeaea;
    font-family:  'Poppins';
    font-size: 14px;
}
.btn-secondary{
    font-family:  'Poppins';
    font-size: 12px;
}
.copy{
    font-family:  'Poppins';
    font-size: 14px;
}
.check{
    width: 40px;
    height: 20px;
}

